body {
  font-family: var(--main-font);
  color: var(--axcent-color);
  background-color: var(--bg-color);
}
h1, h2, h3, h4, h5, h6{
  margin-top: 0;
  margin-bottom: 0;
}

img{
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

p{
  margin-top: 0;
  margin-bottom: 0;
}

a{
  text-decoration: none;
}

button {
  cursor: pointer;
  display: inline-block;
}
/* page header */

.page-header{
  border-bottom: 1px solid var(--border-color-header);
}

.main-nav {
  display: flex;
  align-items: center;
}

/* conteiner */
.conteiner{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /* outline: 3px solid red; */
}

/* Logo */
.logo {
  font-family: var(--title-font);
  color: var(--logo);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-text {
  color: var(--hover);
}

.logo-text-footer {
  color: var(--add-color);
}

:root {
  --main-font: Roboto, sans-serif;
  --title-font: Raleway, sans-serif;
  --text-color: #757575;
  --axcent-color: #212121;
  --footer-color: #2f303a;
  --bg-color: #ffffff;
  --hover: #2196f3;
  --focus: rgb(255, 0, 0);
  --vanish-color: rgba(255, 255, 255, 0.6);
  --add-color: #ffffff;
  --add-bg-color: #f5f4fa;
  --bg-button : #188CE8;
  --bg-button-filter: #F5F4FA;
  --border-color: #EEEEEE;
  --border-color-header: #ECECEC;
  --logo: #000000;
}

/* nav */

.navigation{
  margin-left: 93px;
}

.site-nav{
  display: flex;
}

.site-nav .item + .item{
  margin-left: 50px;
}


.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--axcent-color);
}

.site-nav .link-text{
  color: var(--hover);
}

.nav{
  display: flex;
  margin-left: auto;
}


.nav .item + .item{
  margin-left: 50px;
}

.nav .link-name {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.site-nav .link:hover {
  color: var(--hover);
}

.site-nav .link:focus {
  color: var(--hover);
}

.nav .link-name:hover {
  color: var(--hover);
}

.nav .link-name:focus {
  color: var(--hover);
}

/* main */

.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.section:nth-child(2){
  padding-bottom: 0;
}

/* Hero */

.hero{
  color: var(--add-color);
  background-color: var(--footer-color);
  
  text-align: center;
  padding: 200px 0;
}

.section-text {
margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--add-color);
}

.section-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  padding: 10px 32px;

  border-radius: 4px;

  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--add-color);
  background-color: var(--hover);
}

.section-button:hover{
  background-color: var(--bg-button);
}

.section-button:focus {
  background-color: var(--bg-button);
}

/* section title */

.title-link{
  display: flex;
  flex-wrap: wrap;
}

.title-link .section-title-list + .section-title-list{
  margin-left: 30px;
}

.section-title-list{
  width: 270px;
}

.title-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

/* section metier */

.title {
margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.metier{
  display: flex;
  flex-wrap: wrap;
}

.metier .metier-list + .metier-list{
  margin-left: 30px;
}

/* section information */

.information-content {
  background-color: var(--add-bg-color);
}

.dream-team {
margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.dream-link{
  display: flex;
  flex-wrap: wrap;
}

.dream-link .dream-list + .dream-list{
  margin-left: 30px;
}

.dream-list{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* .dream-list img{
  display: block;
} */

.dream-list-foot{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--add-color);
}

.dream-list-foot .name-list{
  margin-bottom: 10px;
}

.name-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  letter-spacing: 0.03em;
}

.profession-list {
  font-size: 16px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  color: var(--text-color);
}

/* Portfolio */

.portfolio{
  color: rgba(0, 0, 0, 0%);
}

.work-nav {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.work-link {
  padding: 6px 22px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;

  letter-spacing: 0.03em;

  background-color: var(--bg-button-filter)
}

.work-nav .work-link-list + .work-link-list{
  margin-left: 8px;
}

.work-list{
  display: flex;
  flex-wrap: wrap;
}

.work-list-content{
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

/* .work-list-content img{
    display: block;
} */

.work-list-content:nth-child(3n){
  margin-right: 0;
}

.work-list-content:nth-last-child(-n+3){
  margin-bottom: 0;
}

.work-list-foot{
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
border-bottom: 1px solid var(--border-color);
}

.work-link:hover {
  color: var(--add-color);
  background-color: var(--hover);
}

.work-link:focus {
  color: var(--bg-color);
  background-color:var(--hover);
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;

  letter-spacing: 0.06em;
}

.projects-text {
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.03em;

  color: var(--text-color);
}

/* Footer */
address {
  font-style: normal;
}

.address-name {
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: var(--add-color);
}
.link-list {
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: var(--vanish-color);
}
.link-list:hover {
  color: var(--hover);
}

.link-list:focus {
  color: var(--hover);
}

.footer-text {
  padding: 60px 0;
  background-color: var(--footer-color);
}
